<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Allow APK file downloads -->
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!-- Allow APK downloads from any source -->
        <add name="Content-Disposition" value="attachment" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
